html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

@keyframes translate {

	25%{
		transform: translateX(-30px);
	}
	
	75%{
		transform: translateX(30px);
	}
}

*{
	background-color: #FFFEF8;
   
}
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
    height: 100%;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 20px;
	font-size: 1.2em;
}
nav a {
	text-decoration: none;
	color: black;
}

li:hover {
	color: #B1663C;
}
a:hover {
	color: #B1663C;
}

main {
    margin-top: 10em;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width:40%;
    
}

form input[type=password],
form input[type=email] {
    width: 100%;
    height: 51px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.09);
    border-radius: 14px;
    background-color: white ;
    margin-bottom: 3em;
    border: transparent;
    font-size: large;
    
}

  
#login-form.error input[type="email"],
#login-form.error input[type="password"] {
  animation: translate 0.5s ;
  background-color: red  ;
}
  

  



form input[type=submit]{
    border-radius: 60px;
    background-color: #1D6154;
    color: white;
    height: 36px;
    border:transparent;
    width: 50%;
    margin-left: 25%;
	transition: transform 0.2s;
    
}
form input[type=submit]:hover{
	transform: scale(1.15);
}

a{
    color: black;
    font-family: 'Work Sans';
    font-weight: 500;
    margin-top: 3em;
}
footer{
    margin-top:28em
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


